<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>App</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconapp</string>
				</array>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconblack</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>App</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconapp_ipadpro</string>
					<string>iconapp_ipad</string>
				</array>
			</dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iconblack_ipadpro</string>
					<string>iconblack_ipad</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>Arabic</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
		<string>de</string>
		<string>en</string>
		<string>Spanish</string>
		<string>fr</string>
		<string>ja</string>
		<string>ko</string>
		<string>Portuguese</string>
		<string>Russian</string>
	</array>
	<key>CFBundleSpokenName</key>
	<string>Shirga</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
				<string>tsg0o0.sh1rga</string>
				<string>sh1rga</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>$(BACKGROUND_ENABLE)</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
