*{
font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
-webkit-user-select:none;
-webkit-touch-callout:none;
-webkit-user-drag:none;
user-select:none;
cursor:default;
}
body{
overflow-wrap:break-word;
background-color:#000;
color:#fff;
width:100%;
margin:0px auto;
position:relative;
overflow:hidden;
}
img{
pointer-events:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
-webkit-user-drag:none;
user-select:none;
}
:root{color-scheme:dark}
.loadCurtain{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color:#111;
}
.loadCurtain img{
position:fixed;
top:calc(50% - 25vh);
left:calc(50% - 25vh);
height:50vh;
}
@media print{*{opacity:0%}}
